VITE_SUPABASE_URL=https://dqnesuysanoqmswlaekr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxbmVzdXlzYW5vcW1zd2xhZWtyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwOTI4ODgsImV4cCI6MjA4OTY2ODg4OH0.CQkp8qmDnYejbIaSkGryMV3F_VPeyFosB6umoNfpL6o
