VITE_SUPABASE_URL=https://ntpkbzrrcwabtkrgbdel.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50cGtienJyY3dhYnRrcmdiZGVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NjM4OTEsImV4cCI6MjA4OTMzOTg5MX0.ySsX34D3ealwNBgcq1BuRzFVreiUIqswon4affCqWyM
